META_APP_ID=
META_APP_SECRET=
META_SHORT_TOKEN=
META_PAGE_TOKEN=
FB_PAGE_ID=
IG_USER_ID=
YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_REFRESH_TOKEN=
YT_CHANNEL_ID=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PAGES_URL=https://nazimziraman-design.github.io/parent-wise
KOKORO_PYTHON=
KOKORO_HF_HOME=
